<footer class="bottom">
  <div class="global-footer">
    <div class="primary-section">
      <div class="logo-wrapper">
        <a href="#" class="footer-logo">
          <span class="c">C</span>
            <span class="o">o</span>
            <span class="d">d</span>
            <span class="e">e</span>
            <span class="space"> &nbsp;</span>
            <span class="dd">D</span>
            <span class="i">i</span>
            <span class="s">s</span>
            <span class="t">t</span>
            <span class="ii">i</span>
            <span class="l">l</span>
            <span class="ll">l</span>
            <span class="ee">e</span>
            <span class="r">r</span>
        </a>
      </div>
      <ul class="primary-links">
        <li class="primary-link">
          <a href="#" class="movies">
            <span class="link-text">
              MOVIES
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="social-section">
      <button type="button" class="follow-circle">
        <ion-icon class="social" size="large" name="logo-twitter" color="white"></ion-icon>
      </button>
      <button type="button" class="follow-circle">
        <ion-icon class="social" size="large" name="logo-instagram"></ion-icon>
      </button>
      <button type="button" class="follow-circle">
        <ion-icon class="social" size="large" name="logo-youtube"></ion-icon>
      </button>
      <button type="button" class="follow-circle">
        <ion-icon class="social" size="large" name="logo-linkedin"></ion-icon>
      </button>
    </div>
    <ul class="secondary-links"></ul>
    <div class="copyright">
      <span>&copy; 2022 Andre Gonzales Web Services</span>
      <span>All rights reserved.</span>
    </div>
  </div>
</footer>