<header>
  <nav>
    <div class="upper-nav">
      <a href="/addReview">Write a review</a>
      <span class="locale">San Francisco</span>
      <a href="/subscribe">Subscribe</a>
    </div>
    <div class="lower-nav">
      <div class="logo">
        <div class="icons-left">
          <ion-icon name="play-circle-outline" size="large"></ion-icon>
        </div>
        <a href="/movie-reviews">
          <h1>
            <span class="c">C</span>
            <span class="o">o</span>
            <span class="d">d</span>
            <span class="e">e</span>
            <span class="space"> &nbsp;</span>
            <span class="dd">D</span>
            <span class="i">i</span>
            <span class="s">s</span>
            <span class="t">t</span>
            <span class="ii">i</span>
            <span class="l">l</span>
            <span class="ll">l</span>
            <span class="ee">e</span>
            <span class="r">r</span>
          </h1>
        </a>
        <div class="icons-right">
          <ion-icon name="search-sharp" size="large" class="search-icon"></ion-icon>
          <div class="search-box">
            <form action="/searchReviews" method="post">
              <input type="search" name="searchbox" id="searchbox" placeholder="Search titles">
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>