<header>
  <nav>
    <div class="upper-nav">
      <a href="/addReview">Write a review</a>
      <span class="locale">San Francisco</span>
      <a class="subscribe" href="#">Subscribe</a>
      <div id="subscribe-form">
        <header>
          <div class="close-button">
            <ion-icon name="close-outline"></ion-icon>
          </div>
          <h3>Subscribe for Code Distiller updates</h3>
          <p>No spam. Just periodic updates and improvements on this project.</p>
        </header>
        <form action="https://knucklecuts.us14.list-manage.com/subscribe/post" method="POST">
          <input type="hidden" name="u" value="e7dedb0944f46e2c89d8750bf">
          <input type="hidden" name="id" value="c94f9b5426">
          <div class="form-field">
            
            <div class="field-group">
              <input type="email" name="MERGE0" id="MERGE0" autocapitalize="off" autocorrect="off" placeholder="email address" aria-label="email address">
            </div>
          </div>
          <div class="submit-container">
            <input type="submit" value="Subscribe" name="submit">
          </div>
        </form>
      </div>
    </div>
    <div class="lower-nav">
      <div class="logo">
        <div class="icons-left">
          <ion-icon name="play-circle-outline" size="large"></ion-icon>
        </div>
        <a href="/movie-reviews">
          <h1>
            <span class="c">C</span>
            <span class="o">o</span>
            <span class="d">d</span>
            <span class="e">e</span>
            <span class="space"> &nbsp;</span>
            <span class="dd">D</span>
            <span class="i">i</span>
            <span class="s">s</span>
            <span class="t">t</span>
            <span class="ii">i</span>
            <span class="l">l</span>
            <span class="ll">l</span>
            <span class="ee">e</span>
            <span class="r">r</span>
          </h1>
        </a>
        <div class="icons-right">
          <ion-icon name="search-sharp" size="large" class="search-icon"></ion-icon>
          <div class="search-box">
            <form action="/searchReviews" method="post">
              <input type="search" name="searchbox" id="searchbox" placeholder="Search titles">
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>