<form method="post">
  <div>Table: <select name="tables" id="tables">
    <option value="posts">Posts</option>
    <option value="movies">Movies</option>
  </select></div>
  <div>Field Name: <input type="text" name="field"></div>
  <div>Data Type: <input type="text" name="dataType" onkeyup="this.value = this.value.toUpperCase();"/></div>
  <button>Save</button>
</form>