<form method="post">
  <div>Title: <input name="title" value="<%= posts.title %>"/></div>
  <div>Post: <input name="body" value="<%= posts.body %>"/></div>
  <button>Save</button>
  <input type="hidden" value="<%= posts.id %>">
</form>