<h1>Post Data</h1>

<a href="/form">Form Insert</a>

<table>
  <tr>
    <td>title</td>
    <td>Post</td>
  </tr>
<% posts.forEach((post) => { %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td>
      <a href="/delete?id=<%= post.id %>" onclick="return confirm('Are you sure?')">Delete</a>
      <a href="/edit?id=<%= post.id %>">Edit</a>
    </td>
  </tr>


<%}) %>
</table>