* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {

  border-bottom: .5px solid hsla(0, 0%, 0%, .3);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  gap: 1em;
}
.logo {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
}
.logo h1 {
  font-family:  kobenhavn-stencil;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo h1 span {
  text-transform: capitalize;
}
/* .c {
font-size: 3em;
}
.o {
  font-size: 2.4em;
}
.d {
  font-size: 1.8em;
}
.e {
  font-size: 1.2em;
}
.dd {
  font-size: .6em;
}
.i {
  font-size: .9em;
}
.s {
  font-size: 1.2em;
}
.t {
  font-size: 1.5em;
}
.ii {
  font-size: 1.8em;
}
.l {
  font-size: 2.1em;
}
.ll {
  font-size: 2.4em;
}
.ee {
  font-size: 2.7em;
}
.r {
  font-size: 3em;
}                  */
.logo a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upper-nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}
.upper-nav a {
  text-decoration: none;
}
.upper-nav a:nth-of-type(1) {
  justify-self: flex-start;
}
.upper-nav span {
  justify-self: center;
  font-family: learning-curve, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
}
.upper-nav a:nth-of-type(2) {
  justify-self: flex-end;
}
.upper-nav a:hover {
  font-weight: bold;
}
.lower-nav {
  width: 100%;
}
.icons-left {
  align-self: flex-end;
  position: relative;
}
.icons-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: .5em;
  align-self: flex-end;
  justify-self: end;
  position: relative;
}
.search-box {
  display: none;
}
.search-icon {
  cursor: pointer;
}
.card-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}
.card-container ul {
  list-style: none;
  padding: 0;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  border-bottom: .5px solid hsla(0, 0%, 0%, .3);
  margin-bottom: 1.5em;
  cursor: pointer;

}
.card:hover .main-article-content a:first-child {
  text-decoration: underline;
  text-decoration-color: hsl(0, 55%, 60%);
  text-decoration-thickness: 3px;
}
.image-wrapper-outer {
  margin: 0 0 24px;

}
.image-wrapper {
  max-width: 100%;
  text-align: center;
  position: relative;
}
.primary-image-wrapper {
  max-width: 100%;
  text-align: center;
  position: relative;
  padding-bottom: 50%;
}
.article-img {
  max-width: 100%;
  height: auto;
  padding: 0 2em;
}
.in-article-image {
  display: block;
  height: 100%;
  left: 0;
  object-fit: contain;
  top: 0;
  width: 100%;
}
.meta-title {
  font-weight: 800;
}
.add-review {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
}
.section-head h1 {
  margin: 0;
}
.form-container {
  width: 100%;
  margin: 1em auto;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #111;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
form div, form input, form textarea {
  width: 100%;
}
form input, form textarea {
  border: 3px solid hsl(250, 75%, 65%);
  padding: .5em;
}
form div {
  color: hsl(0, 55%, 45%);
}
.form-button-group {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  margin-top: 1em;
}
.form-button-group button {
  border-radius: 12px;
  padding: .7em;
  background-color: hsl(230, 55%, 60%);
  color: #fff;
  border: none;
  cursor: pointer;
}
.form-button-group button:hover {
  background-color: hsl(230, 55%, 30%);

}
.form-button-group a {
  border: none;
  border-radius: 12px;
  text-decoration: none;
  color: #fff;
  padding: .5em;
  background-color: hsl(0, 55%, 60%);
}
.form-button-group a:hover {
  background-color: hsl(0, 55%, 30%);
}

.posted-at {
  font: 13px/14px 'Arial Narrow', Arial, sans-serif;
  color: #5a5a5a;
  letter-spacing: 1.8px;
}
.rubric {
  position: relative;
  padding: 0 6px 0 0;
}
.rubric::after {
  content: "";
  display: inline;
  margin: 0 0 0 1em;
  padding: 0 1px 0 0; 
  background: #00bcf1;
}
article {
  margin: 20px 0 0;
}
.main-article-content {
  max-width: 100%;
  font-size: 20px;
  line-height: 24px;
  font: 18px/21px Georgia, serif;
  letter-spacing: 0;
  margin: 6px 0 0;
  word-wrap: break-word;
  color: #111;
  text-align: left;
}
.main-article-content a {
  color: #111;
  text-decoration: none;
}
.main-article-content a:hover {
  color: #111;
  text-decoration: none;
}
.headline {
  font-weight: 700;
  padding-right: 7px;
}
.headline-primary {
  font: 300 36px/37px Georgia, serif;
  letter-spacing: -.01em;
  margin: 0 0 8px;
  position: relative;
}
.rubric-nav {
  margin: 0 0 12px;
}
.teaser {
  color: #767676;
}
.byline {
  font: 11px/18px Georgia, serif;
  letter-spacing: 1.5px;
  margin: 7px 0 0;
  text-transform: uppercase;
}
.byline a {
  color: #000;
  text-decoration: none;
}
.primary-bylines {
  font: italic 13px/1.5 Georgia, serif;
  margin: 0 19px 0 0;
}
.paragraph {
  margin: 0 0 20px;
  position: relative;
  font: 18px/1.5 Georgia, serif;
  color: #000;
}
.attribution {
  font: 12px/15px Georgia, serif;
  letter-spacing: .25px;
  margin: 2em 0 0;
}
.primary-image {
  display: block;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.package-list-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 20px 0 16px;
  border-bottom: 1px solid #e7e7e7;
}
.package-list-item.all-reviews {
  display: flex;
  justify-content: flex-end;
}
.package-list-item-link {
  text-decoration: none;
  color: #000;
  font: 21px/25px Georgia, serif;
  letter-spacing: -.01;
  position: relative;
}
.package-list-item-link:hover {
  text-decoration: underline;
  text-decoration-color: hsl(210, 60%, 50%);
  text-decoration-thickness: 3px;
}

.link-caret {
  color: hsl(210, 60%, 50%);
}
.global-footer {
  margin: 40px auto;
  border-top: 3px solid #111;
}
.global-footer, .primary-section {
  border-bottom: 1px solid #111;
  box-shadow: 0 4px 0 0 #fff ,0 5px 0 0 #111;
}
.primary-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.primary-link a {
  text-decoration: none;
  color: #111;
}
.secondary-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.secondary-link a {
  color: #000;
  font: 11px/13px Georgia, serif;
  letter-spacing: 2px;
  text-decoration: none;

}
.social-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
  margin: 2.5em 0 1.5em;
}
.follow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  border: none;
  cursor: pointer;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer-logo {
  text-decoration: none;
  color: #111;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
  font: 10px/1.6 Georgia, serif;
  letter-spacing: 2px;
}
.actions {
  visibility: hidden;
}
@media screen and (max-width: 450px) {
  .logo a h1 span {
    font-size: 1em;
  }
}
@media screen and (min-width: 768px) {
  .add-review {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1180px) {
  #reviews {
    max-width: 1100px;
  }
  
  .card-container {
    width: 60%;
  }
  .card {
    display: block;
    padding-bottom: 4.5em;

  }
  .image-wrapper {
    max-width: 300px;
    float: left;
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1em;
    visibility: hidden;
  }
  .actions::before {
    content: "Admin: ";
    position: relative;
  }
}
